<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.QingjiaMapper">
    <insert id="insert">
        insert into qingjia(applicant_name, leave_type, task_id)
        values (#{applicantName}, #{leaveType}, #{taskId})
    </insert>


    <select id="selectByTaskId" resultType="com.ruoyi.flowable.domain.Qingjia">
        select applicant_name as applicantName,
               leave_type     as leaveType,
               id             as id,
               task_id        as taskId
        from qingjia
        where task_id = #{taskId}
    </select>
</mapper>